h2 {
    font-size: pxrem(78px);

    @include mq($max-width: 1024px) {
        font-size: pxrem(74px);
    }

    @include mq($max-width: 767px) {
        font-size: pxrem(70px);
    }
}

h3 {
    font-size: pxrem(74px);

    @include mq($max-width: 1024px) {
        font-size: pxrem(68px);
    }

    @include mq($max-width: 767px) {
        font-size: pxrem(62px);
    }
}

h4 {
    font-size: pxrem(68px);
}

h5 {
    font-size: pxrem(18px);
    @include mq($max-width: 1024px) {
        font-size: pxrem(16px);
    }
    @include mq($max-width: 991px) {
        font-size: pxrem(15px);
    }
}

h2,
h3,
h4,
h5 {
    margin: 0;
    font-family: $gotham-bold;
    line-height: 0.92;
}

p {
    font-size: pxrem(17px);
    letter-spacing: 0.13px;
    line-height: 1.7;

    @include mq($max-width: 1024px) {
        font-size: pxrem(16px);
    }

    @include mq($max-width: 767px) {
        font-size: pxrem(15px);
    }
}

// html.safari {
//     .fa {
//         display: none;
//     }
// }

.fa {
    font-family: $fontawesome;
    text-rendering: optimizeLegibility;

    // @include mq($max-width: 1024px){
    //     display: none;
    // }
}
