h2 {
    font-size: pxrem(78px);
}

h3 {
    font-size: pxrem(74px);
}

h4 {
    font-size: pxrem(68px);
}

h5 {
    font-size: pxrem(18px);
}

h2,
h3,
h4,
h5 {
    margin: 0;
    font-family: $gotham-bold;
    line-height: 0.92;
}

p {
    font-size: pxrem(17px);
    letter-spacing: 0.13px;
    line-height: 1.7;
}

.fa{
    font-family: $fontawesome;
}
