// font family
$gotham-book: 'Gotham Book', sans-serif;
$gotham-medium: 'Gotham', sans-serif;
$gotham-bold: 'Gotham Bold', sans-serif;

// Color Palette
$white: #ffffff;
$black: #000;

$logo-color: $black;
$logo-color-inverse: $white;
