// font family
$gotham-book: 'Gotham Book', sans-serif;
$gotham-medium: 'Gotham', sans-serif;
$gotham-bold: 'Gotham Bold', sans-serif;

// fontawesome
$fontawesome: 'fontawesome';

// Color Palette
$white: #ffffff;
$light-grey: #ebebeb;
$dark-grey: #ddd;
$dark-grey-variant-1: #ccc;
$black: #000;

$logo-color: $black;
$logo-color-inverse: $white;
$logo-purple: #4a00d8;
