#we-are {
    margin-top: pxrem(55px);
}
.banner {
    height: pxrem(700px);

    @include mq($max-width: 991px) {
        height: pxrem(600px);
    }
    .row {
        height: 100%;
    }
    p {
        padding-top: pxrem(15px);
        max-width: pxrem(280px);
    }
    .btn {
        margin-top: pxrem(20px);
    }
    .img {
        figure {
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0;
        }
    }
    .txt {
        display: flex;
        align-items: center;
    }
    .img,
    .txt {
        padding: 0;
    }
    &.txt-left {
        color: $white;
        .img {
            flex: 0 0 58.333333%;
            max-width: 58.333333%;
            figure {
                background-position: left;
            }
        }
        .txt {
            flex: 0 0 41.666667%;
            max-width: 41.666667%;
            text-align: left;
            padding-left: pxrem(100px);
            background-color: $black;

            @include mq($max-width: 1024px) {
                padding-left: pxrem(70px);
            }
        }

        @include mq($max-width: 991px) {
            .img {
                flex: 0 0 41.666667%;
                max-width: 41.666667%;
                figure {
                    background-position: center;
                }
            }
            .txt {
                flex: 0 0 58.333333%;
                max-width: 58.333333%;
            }
        }

        @include mq($max-width: 767px) {
            .img {
                flex: 0 0 100%;
                max-width: 100%;
                figure {
                    background-position: center;
                }
            }
            .txt {
                flex: 0 0 100%;
                max-width: 100%;
                br{
                    display: none;
                }
            }
        }
    }

    &.txt-right {
        .img {
            flex: 0 0 58.333333%;
            max-width: 58.333333%;
            order: 1;
            figure {
                background-position: right;
            }
        }
        .txt {
            flex: 0 0 41.666667%;
            max-width: 41.666667%;
            order: 0;
            text-align: right;
            padding-right: pxrem(100px);
            background-color: $white;
            justify-content: flex-end;

            @include mq($max-width: 1024px) {
                padding-right: pxrem(70px);
            }
        }

        @include mq($max-width: 991px) {
            .img {
                flex: 0 0 41.666667%;
                max-width: 41.666667%;
                order: 0;
                figure {
                    background-position: right;
                }
            }
            .txt {
                flex: 0 0 58.333333%;
                max-width: 58.333333%;
            }
        }
        @include mq($max-width: 767px) {
            .img {
                flex: 0 0 100%;
                max-width: 100%;
                figure {
                    background-position: center;
                }
            }
            .txt {
                flex: 0 0 100%;
                max-width: 100%;
                text-align: left;
                br{
                    display: none;
                }
            }
        }
    }
}
