.wrapper-cards {
    padding: pxrem(90px) 0;

    @include mq($max-width: 991px) {
        padding: pxrem(60px) 0;
    }
    @include mq($max-width: 767px) {
        padding: pxrem(60px) 0 pxrem(10px);
    }
    .container {
        width: 80%;
    }
    .row {
        align-items: stretch;

        @include mq($max-width: 991px) {
            width: 100%;
            flex-wrap: nowrap;
            overflow-x: scroll;
            overflow-y: hidden;
            -webkit-overflow-scrolling: touch;
        }
    }
    .card {
        background-color: $white;
        padding: 0;
        margin: 0 pxrem(20px);

        @include mq($max-width: 1024px) {
            margin: 0 pxrem(15px);
        }
        @include mq($max-width: 991px){
            margin: pxrem(40px) pxrem(12px);
            min-height: pxrem(330px);
        }
        @include mq($max-width: 767px) {
            margin: 0 pxrem(10px);
            min-height: pxrem(350px);
        }
        .card-header {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: pxrem(130px);
            display: flex;
            align-items: center;
            justify-content: center;
            h5 {
                color: $white;
                line-height: 0;
                text-transform: uppercase;
                letter-spacing: 9px;
            }

            @include mq($max-width: 1024px) {
                height: pxrem(100px);
            }
        }
        .card-body {
            padding: pxrem(30px) pxrem(60px);
            text-align: center;
            .btn {
                position: absolute;
                margin-bottom: pxrem(60px);
                top: 100%;
                left: 0;
                width: 100%;

                @include mq($max-width: 991px) {
                    top: 97%;
                }
                @include mq($max-width: 767px) {
                    top: 86%;
                    margin-bottom: 0;
                }
            }

            @include mq($max-width: 1024px) {
                padding: pxrem(20px) pxrem(30px);
            }
        }

        @include mq($max-width: 991px) {
            min-width: pxrem(330px);
        }

        @include mq($max-width: 767px) {
            min-width: pxrem(300px);
        }

        @include mq($max-width: 320px) {
            min-width: pxrem(250px);
        }
    }
}
