#cookies_banner {
    position: fixed;
    bottom: 0;
    max-width: 1440px;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    width: 100%;
    height: auto;
    background-color: $white;
    padding: pxrem(7px) 0;
    border-top: 1px solid rgba($black, 0.05);
    .row{
        align-items: center;
        justify-content: center;
    }
    .wrapper-txt {
        flex: 0 0 75%;
        max-width: 75%;
        display: flex;
        justify-content: flex-end;
        p {
            font-size: pxrem(13px);
            max-width: 100%;
            padding-top: 0;
            font-family: $gotham-medium;
            font-weight: 300;
            margin: 0;
            padding: 0;
            a{
                color: $black;
                transition: color 0.15s ease-in-out;
                &:hover{
                    color: $dark-grey-variant-3;
                }
            }
        }
    }
    .wrapper-btn {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
        .btn{
            margin: 0;
            padding: 0;
            a{
                padding: pxrem(10px) pxrem(30px);
                font-size: pxrem(11px);
            }
        }
    }
}
