.swiper-container {
    width: 100%;
    height: pxrem(900px);   
}

.swiper-slide {
    background-color: $black;
    .slide-bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .slide-desc {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate3d(0, -50%, 0);
        z-index: 9;
        color: $white;
        padding: 0 16%;
        p {
            padding-top: pxrem(18px);
            max-width: pxrem(280px);
        }
    }
}

// .swiper-container-horizontal > .swiper-pagination-bullets,
// .swiper-pagination-custom,
// .swiper-pagination-fraction {
//     padding-bottom: pxrem(20px);
// }

// .swiper-pagination-bullet{
//     background: rgba($white, 0.98) !important;
//     margin: 0 8px !important;
// }

// .swiper-pagination-bullet-active{
//     background: $white !important;
// }




