.app-loader {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate3d(-50%,0,0) scaleY(1);
    width: 100vw;
    height: 100vh;
    max-width: 1440px;
    background-color: $light-grey;
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: top left;
    transition: transform 0.45s 0s cubic-bezier(0.1, 0.85, 0.39, 1.01);
    .inner-app-loader {
        overflow: hidden;
        svg {
            height: pxrem(25px);
            width: pxrem(145px);
            transform: translate3d(0,150%,0);
            transform-origin: top left;
            transition: transform 0.45s 0s cubic-bezier(0.1, 0.85, 0.39, 1.01);
        }
    }
}

html.show-app-loader{
    .app-loader {
        .inner-app-loader {
            svg {
                transform: translate3d(0,0,0);
            }
        }
    }
}

html.remove-app-loader{
    .app-loader {
        .inner-app-loader {
            svg {
                transform: translate3d(0,-150%,0);
            }
        }
    }
}

html.slide-out-app-loader{
    .app-loader {
        transform: translate3d(-50%,0,0) scaleY(0);

    }
}
