nav {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    z-index: 999;
    height: pxrem(120px);
    display: flex;
    align-items: center;
    .container {
        width: 80%;
        max-width: 1150px;
    }
    .row {
        align-items: center;
    }
    .logo {
        line-height: 0;
        padding: 0;
        svg {
            width: pxrem(162px);
            height: pxrem(28px);
            fill: $logo-color-inverse;
        }
    }
    .main-menu {
        display: flex;
        justify-content: flex-end;
        padding: 0;
        ul {
            li {
                list-style: none;
                display: inline-flex;
                margin: 0 0 0 pxrem(80px);
                a {
                    color: $white;
                    letter-spacing: 0.2px;
                }
            }
        }
    }
}
