nav {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    width: 100%;
    z-index: 999;
    height: pxrem(120px);
    display: flex;
    align-items: center;
    max-width: 1440px;
    transition: all 0.3s ease-out;
    .container {
        width: 80%;
        max-width: 1150px;
    }
    .row {
        align-items: center;
    }
    .logo {
        line-height: 0;
        padding: 0;
        svg {
            width: pxrem(162px);
            height: pxrem(28px);
            fill: $logo-color-inverse;
            transition: fill 0.3s ease-out;
        }
    }
    .main-menu {
        display: flex;
        justify-content: flex-end;
        padding: 0;
        ul {
            li {
                list-style: none;
                display: inline-flex;
                margin: 0 0 0 pxrem(80px);
                a {
                    color: $white;
                    letter-spacing: 0.2px;
                    transition: color 0.3s ease-in-out;
                }
            }
        }
    }
}

html.changed nav {
    background-color: rgba($white, 0.98);
    border-bottom: 1px solid rgba($black, 0.05);
    box-shadow: ;
    height: pxrem(65px);
    .logo {
        svg {
            fill: $logo-color;
        }
    }
    .main-menu {
        ul {
            li {
                a {
                    color: $black;                    
                    font-weight: 600;
                }
            }
        }
    }
}
