.wrapper-tabs {
    padding: pxrem(100px) 0;
    .tabs-link, .tabs-content {
        padding: 0;
    }
    .tabs-link {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
        ul {
            li {
                margin: 1px 0;
                .btn {
                    display: flex;
                    a{
                        display: block;
                        width: 100%;
                    }
                }
            }
        }
    }
    .tabs-content {
        background-color: $white;
        padding: pxrem(65px) 0 pxrem(90px);
        min-width: pxrem(300px);
        .inner-content{
            p{
                font-size: pxrem(16px);
                max-width: 75%;
                margin: auto;
            }
        }
    }
}
