input,
textarea {
  width: 100%;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid $white !important;
  -webkit-text-fill-color: $white !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  background-color: transparent !important;
  transition: background-color 5000s ease-in-out 0s;
  font-weight: 600;
  font-family: $gotham-book;
  font-size: pxrem(16px);
  color: $white;
  letter-spacing: 0.5px;
  font-size: pxrem(14px);
}

form {
  width: 100%;
  position: relative;
  .col.half.less-padding-right{
    padding-right: pxrem(7.5px);
  }
  .col.half.less-padding-left{
    padding-left: pxrem(7.5px);
  }
  input,
  textarea {
    background-color: transparent;
    border: 1px solid $white;
    color: $white;
    padding: pxrem(15px) 0 pxrem(15px) pxrem(18px);
    letter-spacing: 0.5px;
    &::placeholder {
      font-family: $gotham-book;
      font-size: pxrem(16px);
      color: rgba($white, 0.5);
      letter-spacing: 0.5px;
      font-size: pxrem(14px);
    }
    &.has-error {
      border-color: $color-error;
      border-width: 2px;
    }
  }
  .form-alert {
    position: relative;
    padding: pxrem(20px) 0 0 pxrem(20px);
    &.error{
      .inner-alert{
        p{
          color: $color-error;
        }
      }
    }
    &.success{
      .inner-alert{
        p{
          color: $color-success;
        }
      }
    }
    .inner-alert {
      p {
        padding: 0;
        margin: 0;
        font-family: $gotham-medium;
        font-size: pxrem(14px);
        margin-bottom: pxrem(5px);
      }
    }
  }
}
