<?xml version="1.0" encoding="UTF-8" ?>
<results>
<parametri>
   <parametro nome="param_one">
      <maggiore>10</maggiore>
      <minore>20</minore>
   </parametro>
   <parametro nome="param_two">
      <maggiore>3.7</maggiore>
   </parametro>
   <parametro nome="param_three" />
   <risultato>
      param_one + param_two / param_three + param_one
   </risultato>   
</parametri>
<!-- <parametri>
   <parametro nome="param_one">
      <maggiore>10</maggiore>
      <minore>20</minore>
   </parametro>
   <parametro nome="param_two">
      <maggiore>3.7</maggiore>
   </parametro>
   <parametro nome="param_three" />
   <risultato>
      param_one + param_two / param_three + param_one
   </risultato>   
</parametri> -->
</results>