@import "./mixin/function";
@import "./mixin/media-query";
@import "./layout/builder";
@import "./interface/builder";
@import "./fonts/builder";
@import "./layout/theme/builder";

html {
  @include mq($min-width: 2400px) {
    font-size: 18px;
  }
  @include mq($max-width: 1999px, $min-width: 1600px) {
    font-size: 15px;
  }
  @include mq($max-width: 1599px, $min-width: 1367px) {
    font-size: 14px;
  }
  @include mq($max-width: 1366px, $min-width: 1000px) {
    font-size: 13px;
  }
  @include mq($max-width: 999px, $min-width: 700px) {
    font-size: 13px;
  }
  @include mq($max-width: 699px) {
    font-size: 14px;
  }
}

html,
body {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background: $white;
  font-family: $gotham-book;
}